

@media screen and (max-width: 992px){
.form{
   width: 65%;
}
.puredesign-section .heading p{
    font-size: 18px;
}
}
@media screen and (max-width: 768px){
.form{
   width: 80%;
}
.puredesign-section .heading p{
    font-size: 16px;
}
.slider-content p{
    font-size: 18px;
}
.slider-content h1{
    font-size: 90px;
    padding: 0px 70px;
}
}
@media screen and (max-width: 576px){
.form{
   width: 90%;
}
.showcase-section .heading h2{
	font-size: 30px;
}
.puredesign-section .heading p{
    font-size: 15px;
}
.slider-content p{
    font-size: 16px;
}
.slider-content h1{
    font-size: 80px;
    padding: 0px 80px;
}
}